<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FlatMatch{% endblock %}</title>
    <link rel="icon" href="/static/door.svg" type="image/svg+xml">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Marko One:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Marcellus SC:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kadwa:wght@700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kantumruy:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kodchasan:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kufam:wght@400&display=swap" />
<!-- bing links -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script> -->
</head>

<body>
    <a href="/contact" class="contact-link">Contact Us</a>

    <nav class="nav navbar navbar-expand-lg navbar-light ">

        <a class="navbar-brand" href="/">
            <div class="logo-container"> <!-- Added container for logo positioning -->
                <img src="/static/door.svg" alt="error" width="50%">
                <span class="logo-text">FlatMatch</span> <!-- Moved text inside container -->
                <div class="frame-child"></div>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
            style="margin-right: 0px;"> <!-- Added margin-right to create a gap -->
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="/search">Search</a>
                </li> -->
                <!-- <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li> -->
                {% if 'username' in session %}
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                {% else %}
                
                <li class="nav-item">
                    <a class="nav-link" href="/register?type=room">Post Your Property</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register_roommate">Post Roommate Wanted</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/room?id=all">Find Room</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/roommate?id=all">Find Roommate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <!-- <div class="container"> -->
        {% block content %}
        {% endblock %}
    <!-- </div> -->
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=AuR5WeOCf_8fh8WSHkMOwevuW0Vnt1MJu0wk-UvPlB7uTdVKErJCCGrzQo0J759C&callback=loadMapScenario' async defer></script> -->

</body>

</html>
