{% extends "base.html" %}

{% block title %}
Home - FlatMatch
{% endblock %}

{% block content %}


      <!-- {% if 'username' in session %}
      {% else %}
      <script>
        console.log("top");
      setTimeout(function() {
            displayWelcomeToast();
        
    }, 10000); // Delay of 10 seconds

    // Function to display the welcome toast notification
    function displayWelcomeToast() {
        var toastHTML = '<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">' +
                        '<div class="toast-header">' +
                        '<strong class="mr-auto">Welcome to FlatMatch!</strong>' +
                        '<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">' +
                        '<span aria-hidden="true">&times;</span>' +
                        '</button>' +
                        '</div>' +
                        '<div class="toast-body">' +
                        'Finding Rooms and Roommates made easy. We are here to help you find the perfect room and roommate near your college. Say goodbye to the hassle of searching for accommodation - our platform makes it easy and convenient. Plus, with FlatMatch, you can save on brokerage fees when the flat is posted by its owner. Get started now and make your college life easier!' +
                        '</div>' +
                        '</div>';

        // Append the toast HTML to the body
        $('body').append(toastHTML);

        // Show the toast
        $('.toast').toast('show');
    }
    </script>

    {% endif %} -->




<div class="custom-div" style="padding-bottom: 20px;">
    <div class="row">
        <!-- Left Column -->
        <div class="col-md-8" style="margin-top: 50px;"> <!-- Adjust width as needed -->
          <h3 class="text-center">Available Rooms</h3>

          <div class="row">
                <!-- Room cards -->
                {% for data in room_data %}
                
                <div class="col-md-6" style="margin-bottom: 20px;">
                    <div class="card" style="text-align: center; border-radius: 10px; background-color: var(--color-darkgray); box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">
                        <div id="demo{{ data['room'][0] }}" class="carousel slide" data-ride="carousel">
                            <ul class="carousel-indicators">
                                {% for image in data['images'] %}
                                <li data-target="#demo{{ data['room'][0] }}" data-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active"{% endif %}></li>
                                {% endfor %}
                            </ul>
                            <div class="carousel-inner">
                                {% for image in data['images'] %}
                                <div class="carousel-item {% if loop.first %}active{% endif %}">
                                    <img src="{{ url_for('static', filename='uploads/' + image) }}" alt="Image" style="width: 100%; height: 40vh; object-fit: cover;">
                                </div>
                                {% endfor %}
                            </div>
                            <a class="carousel-control-prev" href="#demo{{ data['room'][0] }}" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#demo{{ data['room'][0] }}" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>
                        <div class="card-body">
                            <div style="display: block;">
                                <img src="/static/location.svg" style="vertical-align: top; margin-top: 4px; width: 15px;" alt="">
                                <p class="card-text" style="display: inline; vertical-align: top; font-family: var(--font-kodchasan);">Location :- </p>
                                <p class="card-text" style="display: inline-block; max-width: 80%; text-overflow: ellipsis; text-align: left; font-size: 16px; font-family: var(--font-kufam);">{{ data['room'][5] }}</p>
                            </div>
                            <div style="display: block; margin-top: 10px;">
                                <p class="card-text" style="display: inline; vertical-align: top; font-family: var(--font-kodchasan);">Description :- </p>
                                <p class="card-text" style="display: inline-block; max-width: 80%; text-overflow: ellipsis; text-align: left; font-size: 15px;">{{ data['room'][3] }}</p>
                            </div>
                            <a href="/room?id={{ data['room'][0] }}" class="btn btn-primary rounded-pill customised-btn" style="font-size: 14px; margin-top: 15px;">Rent Now</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
            </div>
            <a href="/room?id=all" style="color: white;text-align: right;display: flex;justify-content: right;">
                Explore more 
                <img src="/static/arrow-right (1).svg" alt="" >
            </a>
            
        </div>

        <!-- Right Column -->
        <div class="col-md-4" style="margin-top: 50px;">
          <h3 class="text-center">Need Roommates</h3>

            <div class="row " >
              {% for roommate in roommates %}
              <div class="col-md-12" style="margin-bottom: 2.5rem;">
                  <div class="card" style="border-radius: 7%;">
                      <div class="card-body customised-roommate-fonts-colors" style="text-align: center;">
                          <h7 class="card-title" >Need Room Mate!</h7>
                          <div style="display: block;">
                              <p class="card-text" style="display: inline; font-family: var(--font-kodchasan);">Gender :- </p>
                              <p class="card-text" id="gender" style="display: inline;">{{ roommate[2] }}</p>
                          </div>
                          
                          <div style="display: block; ">
                              <img src="/static/location.svg" style="vertical-align: top; margin-top: 4px; width: 15px;" alt="">
                              <p class="card-text" style="display: inline; vertical-align: top; font-family: var(--font-kodchasan);">Location :- </p>
                              <p class="card-text" style="display: inline-block; max-width: 65%; text-overflow: ellipsis;text-align: left;font-size: 15px;">{{ roommate[1] }}</p>
                          </div>
                          
                          <div style="display: block; margin-top: 2px;">
                              <p class="card-text" style="display: inline; vertical-align: top; font-family: var(--font-kodchasan);">Description :- </p>
                              <p class="card-text" style="display: inline-block; max-width: 65%; text-overflow: ellipsis;text-align: left; font-size: 13px;">{{ roommate[3] }}</p>
                          </div>
                          {% if roommate[4] %}
                          <!-- Add the following div only if roommate[4] exists -->
                          <div>
                              <p class="card-text" style="font-weight: 600; margin-top: 2px;">Contact Info: {{ roommate[4] }}</p>
                          </div>
                          {% else %}
                          <a href="/roommate?id={{ roommate[0] }}" style="margin-top: 5px;" class="btn btn-primary rounded-pill customised-btn">Connect with Roommate</a>
          
                         
                          {% endif %}
                      </div>
                  </div>   
              </div>
              {% endfor %}
              
            </div>
            <a href="/roommate?id=all" style="color: white;text-align: right;display: flex;justify-content: right;">
                Explore more 
                <img src="/static/arrow-right (1).svg" alt="" >
            </a>
        </div>
        
    </div>
</div>


<!-- <div class="container" style="padding-right: 0;padding-left: 0; max-width: 100%; ">
    <section style=" background-color: var(--color-darkgray); color: white;">
        <div class="row justify-content-center  h-100 d-flex align-items-start">
            <div class="mx-auto " style="max-width: 100%;    width: 91%; text-align: center; margin-top: 35px;">
                <label for="location" style="display: inline;">Location</label>
                <input type="text" id="location" class="form-control rounded-pill mr-5" style="border-radius: 50%;display: inline; width: 30%; padding: 2px 0.75rem; height: 22px;" placeholder="Enter location" required>
                <label for="kilometer" style="display: inline;">Kilometer</label>
                <input type="number" id="kilometer" class="form-control rounded-pill mr-5" style="border-radius: 50%; width: 30%; display: inline; padding: 2px 0.75rem; height: 22px;" placeholder="Enter kilometers" required>
                <a href="#" class="btn btn-primary rounded-pill mt-3 searchbtn align-items-start" style="display: inline;"><img src="/static/search_white_24dp.svg" alt=""></a>
            </div>
        </div>
        <div class="flex" style="margin-top: 10px;">
          <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3503.132080024487!2d77.22090641508365!3d28.644800582416683!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce3edc7a38a69%3A0x52bfeb7a0ad9a5fc!2sDelhi%2C%20India!5e0!3m2!1sen!2sus!4v1644321930768!5m2!1sen!2sus"
              width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    </section>
</div> -->
<div class="container mt-2" style="max-width: 100%;">
  <div class="row">
  <!-- First Div with Search Bars -->
  <div class="col d-flex justify-content-center">
    <div class="input-group mb-3 mr-3" id='searchBoxContainer' >
        <label class="input-group-text" for="location" id="location">Location</label>
        <!-- <input type="text" class="form-control" id="searchBox" placeholder="Enter location"> -->
        
          <input class="form-control" type='text'  id='searchBox' />
        
    </div>
    
    <div class="input-group mb-3 ms-3">
        <label class="input-group-text" for="range" id="range">Radius</label>
        <input type="text" class="form-control mr-3" id="rangeinput" style="box-sizing: content-box;background-color: rgb(255, 255, 255);"placeholder="Enter kilometers">
        <button class="btn btn-outline-secondary" type="button" onclick="getLocation()" style="padding: 3px;">
          <img src="/static/search_white_24dp.svg" alt="">     
         </button>
    </div>
    </div>
  </div>

    <div class="row">
    <!-- Second Div for Map -->
    <div class="col mb-2 " style="padding-right: 0px; 
     padding-left: 0px;" >
      <div id="map" ></div>
      <!-- Add custom legend -->
      <div class="legend">
        <div class="legend-item">
            <div class="legend-icon" style="background-color: red;"></div>
            <span>Room</span>
        </div>
        <div class="legend-item">
            <div class="legend-icon" style="background-color: green;"></div>
            <span>Roommate</span> 
        </div>
    </div>
    </div>
  </div>
  
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>


{% endblock %}