{% extends "base.html" %}

{% block title %}
Home - FlatMatch
{% endblock %}

{% block content %}
<div class="custom-div">
    <div class="row">
        <!-- Left Column -->
        <div class="col-md-7" style="margin-top: 100px;"> <!-- Adjust width as needed -->
          <h3 class="text-center">Available Rooms</h3>

          <div class="row">
                <!-- 1st card -->
                {% for data in room_data %}
                
                <div class="col-md-6" style="margin-bottom: 10px;">
                    <div class="card" style="text-align: center; border-radius: 5px; background-color: var(--color-darkgray);">
                        <div id="demo{{ data['room'][0] }}" class="carousel slide" data-ride="carousel">
                            <ul class="carousel-indicators">
                                {% for image in data['images'] %}
                                <li data-target="#demo{{ data['room'][0] }}" data-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active"{% endif %}></li>
                                {% endfor %}
                            </ul>
                            <div class="carousel-inner">
                                {% for image in data['images'] %}
                                <div class="carousel-item {% if loop.first %}active{% endif %}">
                                    <img src="{{ url_for('static', filename='uploads/' + image) }}" alt="Image" width="1100" height="500">
                                </div>
                                {% endfor %}
                            </div>
                            <a class="carousel-control-prev" href="#demo{{ data['room'][0] }}" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#demo{{ data['room'][0] }}" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>
                        <div class="card-body">
                            <div style="display: block;">
                                <img src="/static/location.svg" style="vertical-align: top; margin-top: 4px; width: 15px;" alt="">
                                <p class="card-text" style="display: inline; vertical-align: top; font-family: var(--font-kodchasan);">Location :- </p>
                                <p class="card-text" style="display: inline-block; max-width: 62%; text-overflow: ellipsis; text-align: left; font-size: 14px; font-family: var(--font-kufam);">{{ data['room'][1] }}</p>
                            </div>
                            <div style="display: block; margin-top: 2px;">
                                <p class="card-text" style="display: inline; vertical-align: top; font-family: var(--font-kodchasan);">Description :- </p>
                                <p class="card-text" style="display: inline-block; max-width: 65%; text-overflow: ellipsis;text-align: left; font-size: 13px;">{{ data['room'][2] }}</p>
                            </div>
                            <a href="/room?id={{ data['room'][0] }}" class="btn btn-primary rounded-pill customised-btn" style="font-size: 11px;">Rent Now</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- 2nd card -->
                <!-- <div class="col-md-6" style="margin-bottom: 10px;">
                    <div class="card" style="text-align: center;border-radius: 5px; background-color: var(--color-darkgray);">
                        <div id="demo2" class="carousel slide" data-ride="carousel">
                            <ul class="carousel-indicators">
                              <li data-target="#demo2" data-slide-to="0" class="active"></li>
                              <li data-target="#demo2" data-slide-to="1"></li>
                              <li data-target="#demo2" data-slide-to="2"></li>
                            </ul>
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img src="/static/images/messy-interior-full-clothing.jpg" alt="Los Angeles" width="1100" height="500">
                                <div class="carousel-caption">
                                  <h3>Los Angeles</h3>
                                  <p>We had such a great time in LA!</p>
                                </div>   
                              </div>
                              <div class="carousel-item">
                                <img src="/static/images/dreamy-windows-with-beautiful-nature.jpg" alt="Chicago" width="1100" height="500">
                                <div class="carousel-caption">
                                  <h3>Chicago</h3>
                                  <p>Thank you, Chicago!</p>
                                </div>   
                              </div>
                              <div class="carousel-item">
                                <img src="/static/images/garbage-table-with-empty-beer-drink-bottle-food-rubbish-placed-living-room.jpg" alt="New York" width="1100" height="500">
                                <div class="carousel-caption">
                                  <h3>New York</h3>
                                  <p>We love the Big Apple!</p>
                                </div>   
                              </div>
                            </div>
                            <a class="carousel-control-prev" href="#demo2" data-slide="prev">
                              <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#demo2" data-slide="next">
                              <span class="carousel-control-next-icon"></span>
                            </a>
                          </div>
                        <div class="card-body">
                            <h5 class="card-title">Name 1</h5>
                            <div style="display: inline-block; ">
                                <img src="/static/location.svg" style="vertical-align: top; margin-top: 4px; width: 15px;" alt="">
                                <p class="card-text" style="display: inline; vertical-align: top; font-family: var(--font-kodchasan);">Location :- </p>
                                <p class="card-text" style="display: inline-block; max-width: 62%; text-overflow: ellipsis;text-align: left; font-size: 14px; font-family: var(--font-kufam);">Gali No 36, Tugalkabaad Extn New Delhi 110019</p>
                            </div>
                            <a href="/display?room?1" class="btn btn-primary rounded-pill customised-btn" style="font-size: 11px;">Rent Now</a>
    
                        </div>
                        
                    </div>
                </div> -->
                <!-- 3rd card -->
                <!-- <div class="col-md-6" style="margin-bottom: 10px;">
                    <div class="card" style="text-align: center;border-radius: 5px; background-color: var(--color-darkgray);">
                        <div id="demo3" class="carousel slide" data-ride="carousel">
                            <ul class="carousel-indicators">
                              <li data-target="#demo3" data-slide-to="0" class="active"></li>
                              <li data-target="#demo3" data-slide-to="1"></li>
                              <li data-target="#demo3" data-slide-to="2"></li>
                            </ul>
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img src="/static/images/dreamy-windows-with-beautiful-nature.jpg" alt="Los Angeles" width="1100" height="500">
                                <div class="carousel-caption">
                                  <h3>Los Angeles</h3>
                                  <p>We had such a great time in LA!</p>
                                </div>   
                              </div>
                              <div class="carousel-item">
                                <img src="/static/images/messy-abandoned-room-psychiatric-hospital.jpg" alt="Chicago" width="1100" height="500">
                                <div class="carousel-caption">
                                  <h3>Chicago</h3>
                                  <p>Thank you, Chicago!</p>
                                </div>   
                              </div>
                              <div class="carousel-item">
                                <img src="/static/images/garbage-table-with-empty-beer-drink-bottle-food-rubbish-placed-living-room.jpg" alt="New York" width="1100" height="500">
                                <div class="carousel-caption">
                                  <h3>New York</h3>
                                  <p>We love the Big Apple!</p>
                                </div>   
                              </div>
                            </div>
                            <a class="carousel-control-prev" href="#demo3" data-slide="prev">
                              <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#demo3" data-slide="next">
                              <span class="carousel-control-next-icon"></span>
                            </a>
                          </div>
                        <div class="card-body">
                            <h5 class="card-title">Name 1</h5>
                            <div style="display: inline-block; ">
                                <img src="/static/location.svg" style="vertical-align: top; margin-top: 4px; width: 15px;" alt="">
                                <p class="card-text" style="display: inline; vertical-align: top;font-family: var(--font-kodchasan);">Location :- </p>
                                <p class="card-text" style="display: inline-block; max-width: 62%; text-overflow: ellipsis;text-align: left; font-size: 14px; font-family: var(--font-kufam);">Gali No 36, Tugalkabaad Extn New Delhi 110019</p>
                            </div>
                            <a href="/display?room?1" class="btn btn-primary rounded-pill customised-btn" style="font-size: 11px;">Rent Now</a>
    
                        </div>
                        
                    </div>
                </div> -->


                <!-- <div class="col-md-6">
                    <div class="card">
                        <img class="card-img-top"
                            src="/static/images/garbage-table-with-empty-beer-drink-bottle-food-rubbish-placed-living-room.jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Name 2</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <img class="card-img-top" src="image2.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Name 2</h5>
                        </div>
                    </div>
                </div> -->
                
                
            </div>
            <a href="/room?id=all" style="color: white;text-align: right;display: flex;justify-content: right;">
                Explore more 
                <img src="/static/arrow-right (1).svg" alt="" >
            </a>
            
            

        </div>

        <!-- Right Column -->
        <div class="col-md-5" style="margin-top: 100px;">
          <h3 class="text-center">Need Roommates</h3>

            <div class="row ">
              {% for roommate in roommates %}
              <div class="col-md-10" style="margin-bottom: 2.5rem;">
                  <div class="card" style="border-radius: 7%;">
                      <div class="card-body customised-roommate-fonts-colors" style="text-align: center;">
                          <h7 class="card-title" >Need Room Mate!</h7>
                          <div style="display: block;">
                              <p class="card-text" style="display: inline; font-family: var(--font-kodchasan);">Gender :- </p>
                              <p class="card-text" id="gender" style="display: inline;">{{ roommate[2] }}</p>
                          </div>
                          
                          <div style="display: block; ">
                              <img src="/static/location.svg" style="vertical-align: top; margin-top: 4px; width: 15px;" alt="">
                              <p class="card-text" style="display: inline; vertical-align: top; font-family: var(--font-kodchasan);">Location :- </p>
                              <p class="card-text" style="display: inline-block; max-width: 65%; text-overflow: ellipsis;text-align: left;font-size: 15px;">{{ roommate[1] }}</p>
                          </div>
                          
                          <div style="display: block; margin-top: 2px;">
                              <p class="card-text" style="display: inline; vertical-align: top; font-family: var(--font-kodchasan);">Description :- </p>
                              <p class="card-text" style="display: inline-block; max-width: 65%; text-overflow: ellipsis;text-align: left; font-size: 13px;">{{ roommate[3] }}</p>
                          </div>
                          {% if roommate[4] %}
                          <!-- Add the following div only if roommate[4] exists -->
                          <div>
                              <p class="card-text" style="font-weight: 600; margin-top: 2px;">Contact Info: {{ roommate[4] }}</p>
                          </div>
                          {% else %}
                          <a href="/roommate?id={{ roommate[0] }}" style="margin-top: 5px;" class="btn btn-primary rounded-pill customised-btn">Connect with Roommate</a>
          
                         
                          {% endif %}
                      </div>
                  </div>   
              </div>
              {% endfor %}
                <!-- <div class="col-md-10" style="margin-bottom: 2.5rem;">
                    <div class="card" style="border-radius: 7%;">
                        <div class="card-body customised-roommate-fonts-colors" style="text-align: center;">
                            <h7 class="card-title" >Need Room Mate!</h7>
                            <div style="display: inline-block;">
                                <p class="card-text" style="display: inline; font-family: var(--font-kodchasan);">Gender :- </p>
                                <p class="card-text" id="gender" style="display: inline;">Female</p>
                            </div>
                    
                            <div style="display: inline-block; ">
                                <img src="/static/location.svg" style="vertical-align: top; margin-top: 4px; width: 15px;" alt="">
                                <p class="card-text" style="display: inline; vertical-align: top; font-family: var(--font-kodchasan);">Location :- </p>
                                <p class="card-text" style="display: inline-block; max-width: 65%; text-overflow: ellipsis;text-align: left;font-size: 15px;">Gali No 36, Tugalkabaad Extn New Delhi 110019</p>
                            </div>
                    
                            <div style="display: inline-block; margin-top: 15px;">
                                <p class="card-text" style="display: inline; vertical-align: top; font-family: var(--font-kodchasan);">Description :- </p>
                                <p class="card-text" style="display: inline-block; max-width: 65%; text-overflow: ellipsis;text-align: left; font-size: 13px;">Join us in creating a welcoming home in the vibrant city of New Delhi. Contact for details!</p>
                            </div>
                    
                            <a href="/display?roommate?1" class="btn btn-primary rounded-pill customised-btn">Connect with Roommate</a>

                        </div>
                    </div>   
                </div> -->
                <!-- <div class="col-md-10" style="margin-bottom: 2.5rem;">
                    <div class="card" style="border-radius: 7%;">
                        <div class="card-body customised-roommate-fonts-colors" style="text-align: center;">
                            <h7 class="card-title" >Need Room Mate!</h7>
                            <div style="display: inline-block;">
                                <p class="card-text" style="display: inline; font-family: var(--font-kodchasan);">Gender :- </p>
                                <p class="card-text" id="gender" style="display: inline;">Female</p>
                            </div>
                    
                            <div style="display: inline-block; ">
                                <img src="/static/location.svg" style="vertical-align: top; margin-top: 4px; width: 15px;" alt="">
                                <p class="card-text" style="display: inline; vertical-align: top; font-family: var(--font-kodchasan);">Location :- </p>
                                <p class="card-text" style="display: inline-block; max-width: 65%; text-overflow: ellipsis;text-align: left;font-size: 15px;">Gali No 36, Tugalkabaad Extn New Delhi 110019</p>
                            </div>
                    
                            <div style="display: inline-block; margin-top: 15px;">
                                <p class="card-text" style="display: inline; vertical-align: top; font-family: var(--font-kodchasan);">Description :- </p>
                                <p class="card-text" style="display: inline-block; max-width: 65%; text-overflow: ellipsis;text-align: left; font-size: 13px;">Join us in creating a welcoming home in the vibrant city of New Delhi. Contact for details!</p>
                            </div>
                    
                            <a href="/display?roommate?1" class="btn btn-primary rounded-pill customised-btn">Connect with Roommate</a>

                        </div>
                    </div>   
                </div> -->
                
                
                <!-- <div class="col-md-10" style="margin-bottom: 2.5rem;">
                    <div class="card" style="border-radius: 7%;">
                        <div class="card-body" style="text-align: center;">
                            <h7 class="card-title" style="color: #d31818;">Need Room Mate!</h7>
                            <div style="display: inline-block;">
                                <p class="card-text" style="display: inline;">Gender :- </p>
                                <p class="card-text" id="gender" style="display: inline;">Male</p>
                            </div>
                    
                            <div style="display: inline-block; ">
                                <img src="/static/location.svg" style="vertical-align: top; margin-top: 4px; width: 15px;" alt="">
                                <p class="card-text" style="display: inline; vertical-align: top;">Location :- </p>
                                <p class="card-text" style="display: inline-block; max-width: 65%; text-overflow: ellipsis;text-align: left;">Gali No 36, Tugalkabaad Extn New Delhi 110019</p>
                            </div>
                    
                            <div style="display: inline-block; margin-top: 15px;">
                                <p class="card-text" style="display: inline; vertical-align: top;">Description :- </p>
                                <p class="card-text" style="display: inline-block; max-width: 65%; text-overflow: ellipsis;text-align: left;">Join us in creating a welcoming home in the vibrant city of New Delhi. Contact for details!</p>
                            </div>
                    
                            <a href="/display?roommate?2" class="btn btn-primary rounded-pill customised-btn">Connect with Roommate</a>

                        </div>
                    </div>
                    
                </div>
                <div class="col-md-10" style="margin-bottom: 2.5rem;">
                    <div class="card" style="border-radius: 7%;">
                        <div class="card-body" style="text-align: center;">
                            <h7 class="card-title" style="color: #d31818;">Need Room Mate!</h7>
                            <div style="display: inline-block;">
                                <p class="card-text" style="display: inline;">Gender :- </p>
                                <p class="card-text" id="gender" style="display: inline;">Female</p>
                            </div>
                    
                            <div style="display: inline-block; ">
                                <img src="/static/location.svg" style="vertical-align: top; margin-top: 4px; width: 15px;" alt="">
                                <p class="card-text" style="display: inline; vertical-align: top;">Location :- </p>
                                <p class="card-text" style="display: inline-block; max-width: 65%; text-overflow: ellipsis;text-align: left;">Gali No 36, Tugalkabaad Extn New Delhi 110019</p>
                            </div>
                    
                            <div style="display: inline-block; margin-top: 15px;">
                                <p class="card-text" style="display: inline; vertical-align: top;">Description :- </p>
                                <p class="card-text" style="display: inline-block; max-width: 65%; text-overflow: ellipsis;text-align: left;">Join us in creating a welcoming home in the vibrant city of New Delhi. Contact for details!</p>
                            </div>
                    
                            <a href="/display?roommate?3" class="btn btn-primary rounded-pill customised-btn">Connect with Roommate</a>

                        </div>
                    </div>
                    
                </div> -->
                <!-- <div class="col-md-10" style="margin-bottom: 2.5rem;">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Name 6</h5>
                            <p class="card-text">Text content here.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-10" style="margin-bottom: 2.5rem;">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Name 7</h5>
                            <p class="card-text">Text content here.</p>
                        </div>
                    </div>
                </div> -->
            </div>
            <a href="/roommate?id=all" style="color: white;text-align: right;display: flex;justify-content: right;">
                Explore more 
                <img src="/static/arrow-right (1).svg" alt="" >
            </a>
        </div>
    </div>
</div>

<!-- <div class="container" style="padding-right: 0;padding-left: 0; max-width: 100%; ">
    <section style=" background-color: var(--color-darkgray); color: white;">
        <div class="row justify-content-center  h-100 d-flex align-items-start">
            <div class="mx-auto " style="max-width: 100%;    width: 91%; text-align: center; margin-top: 35px;">
                <label for="location" style="display: inline;">Location</label>
                <input type="text" id="location" class="form-control rounded-pill mr-5" style="border-radius: 50%;display: inline; width: 30%; padding: 2px 0.75rem; height: 22px;" placeholder="Enter location" required>
                <label for="kilometer" style="display: inline;">Kilometer</label>
                <input type="number" id="kilometer" class="form-control rounded-pill mr-5" style="border-radius: 50%; width: 30%; display: inline; padding: 2px 0.75rem; height: 22px;" placeholder="Enter kilometers" required>
                <a href="#" class="btn btn-primary rounded-pill mt-3 searchbtn align-items-start" style="display: inline;"><img src="/static/search_white_24dp.svg" alt=""></a>
            </div>
        </div>
        <div class="flex" style="margin-top: 10px;">
          <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3503.132080024487!2d77.22090641508365!3d28.644800582416683!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce3edc7a38a69%3A0x52bfeb7a0ad9a5fc!2sDelhi%2C%20India!5e0!3m2!1sen!2sus!4v1644321930768!5m2!1sen!2sus"
              width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    </section>
</div> -->
<div class="container mt-2" style="max-width: 100%;">
  <div class="row">
  <!-- First Div with Search Bars -->
  <div class="col d-flex justify-content-center">
    <div class="input-group mb-3 mr-3" id='searchBoxContainer' >
        <label class="input-group-text" for="location" id="location">Location</label>
        <!-- <input type="text" class="form-control" id="searchBox" placeholder="Enter location"> -->
        
          <input class="form-control" type='text'  id='searchBox' />
        
    </div>
    
    <div class="input-group mb-3 ms-3">
        <label class="input-group-text" for="range" id="range">Range</label>
        <input type="text" class="form-control mr-3" id="rangeinput" style="box-sizing: content-box;background-color: rgb(255, 255, 255);"placeholder="Enter range">
        <button class="btn btn-outline-secondary" type="button" onclick="getLocation()" style="padding: 3px;">
          <img src="/static/search_white_24dp.svg" alt="">     
         </button>
    </div>
    </div>
  </div>

    <div class="row">
    <!-- Second Div for Map -->
    <div class="col mb-2 " >
      <div id="map" ></div>
      
    </div>
  </div>
  
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>



<footer class="bg-dark text-white py-4">
  <div class="container">
    <div class="row">
      
      <div class="col-md-6">
        <!-- <h5 class="mb-0">Flatmatch</h5>
        <img src="/static/door.svg" alt="Flatmatch Icon" class="mt-2" style="width: 24px;"> -->
        <a class="navbar-brand" href="/">
          <div class="logo-container"> <!-- Added container for logo positioning -->
              <img src="/static/door.svg" alt="error" width="50%">
              <span class="logo-text" style="color: wheat;">FlatMatch</span> <!-- Moved text inside container -->
              <div class="frame-child" style="background: radial-gradient(50% 50% at 50% 50%, #0a0a0a, #000000);"></div>
          </div>
      </a>
      </div>
      <div class="col-md-6 text-md-right">
        <p class="mb-0">&copy; Copyright <span id="year"></span> All rights reserved to Abdul Wadood</p>
        <!-- <p class="mb-0">Some necessary information</p> -->
        <!-- <p class="mb-0">Another necessary information</p> -->
      </div>
    </div>
  </div>
</footer>

{% endblock %}