{% extends "base.html" %}

{% block title %}
Roommate - FlatMatch
{% endblock %}

{% block content %}
<h1 class="text-center">Roommates</h1>
<div class="row ">
    
    {% for roommate in roommates %}
    <div class="col-md-10" style="margin-bottom: 2.5rem;">
        <div class="card" style="border-radius: 7%;">
            <div class="card-body customised-roommate-fonts-colors" style="text-align: center;">
                <h7 class="card-title" >Need Room Mate!</h7>
                <div style="display: block;">
                    <p class="card-text" style="display: inline; font-family: var(--font-kodchasan);">Gender :- </p>
                    <p class="card-text" id="gender" style="display: inline;">{{ roommate[2] }}</p>
                </div>
                
                <div style="display: block; ">
                    <img src="/static/location.svg" style="vertical-align: top; margin-top: 4px; width: 15px;" alt="">
                    <p class="card-text" style="display: inline; vertical-align: top; font-family: var(--font-kodchasan);">Location :- </p>
                    <p class="card-text" style="display: inline-block; max-width: 65%; text-overflow: ellipsis;text-align: left;font-size: 15px;">{{ roommate[1] }}</p>
                </div>
                
                <div style="display: block; margin-top: 2px;">
                    <p class="card-text" style="display: inline; vertical-align: top; font-family: var(--font-kodchasan);">Description :- </p>
                    <p class="card-text" style="display: inline-block; max-width: 65%; text-overflow: ellipsis;text-align: left; font-size: 13px;">{{ roommate[3] }}</p>
                </div>
                {% if roommate[4] %}
                <!-- Add the following div only if roommate[4] exists -->
                <div>
                    <p class="card-text" style="font-weight: 600; margin-top: 2px;">Contact Info: {{ roommate[4] }}</p>
                </div>
                {% else %}
                <a href="/roommate?id={{ roommate[0] }}" style="margin-top: 5px;" class="btn btn-primary rounded-pill customised-btn">Connect with Roommate</a>

               
                {% endif %}
            </div>
        </div>   
    </div>
    {% endfor %}
</div>
{% endblock %}
